.setting-container {
  padding-left: 20px;
  padding-top: 10px;
}

button {
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  background-color: rgb(41, 194, 116);
}

.image-container {
  width: 100px;
  height: 100px;
}

.table-container {
  width: 90%;
}

.page-btn {
  padding: 2px;
  background-color: rgb(41, 194, 116);
  margin: 0 5px;
  color: white;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
